body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.calendar{
	border: 5px solid #ECECEC;
  margin: 30px 280px 0 290px;
  color: #3A3734;
}

.line {
  border: 1px solid #C3C3C3;
}

.mouth {
  margin: 15px 0 10px 10px;
  font-size: 32px;
}

.week-days {
  max-width: 950px;
}

.week {
  display: flex;
}

.weekdays {
  text-align: right;
  margin-bottom: 5px;
  padding: 5px ;
  flex-grow: 1;
  flex-basis: 0;
}

.day 
{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.day {
  height: 90px;
  font-size: 17px;
  color: #3A3734;
  text-align: right;
  padding: 5px ;
  box-shadow: 
    -1px -1px #ECECEC, 
    inset -1px -1px 0 0 #ECECEC;
}

.grey {
  background-color:#F3F3F3;
  color: #838386;
}

.color-text {
  color: #C7C7C7;
}