
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
  position: relative;
  width: 1400px;
  height: 940px;
  background: #FFFFFF;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: static;
  width: 1360px;
  height: 184px;
  left: 40px;
  top: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 80px 0px;
}
.section-header p {
 position: static;
  width: 652px;
  height: 84px;
  left: 354px;
  top: 100px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
  color: #414141;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: relative;
  width: 607px;
  height: 88px;
  left: 20px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

h1 {
  position: relative;
  width: 161px;
  height: 88px;
  left: 0px;
  top: 0px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 86px;
  line-height: 88px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #121212;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;
}

.underlined {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: relative;
  width: 395px;
  height: 88px;
  left: 25px;
  top: 0px;
  background: linear-gradient(180deg, rgba(237, 96, 65, 0) 85.76%, #ED6041 85.82%);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.underlined h1 {
  height: 88px;
  left: 16px;
}

.section-content {
 display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1304.01px;
  height: 456px;
  left: 67.99px;
  top: 344px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 80px 0px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 1304.01px;
  height: 208px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 40px 0px;
}

.program-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 644.01px;
  height: 208px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px;
}

.program-name-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 208px;
  height: 208px;
  left: 0px;
  top: 0px;
  background: url(.jpg);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.program-name-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 436px;
  height: 208px;
  left: 208px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.program-name-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 388px;
  height: 148px;
  left: 24px;
  top: 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.program-name-text p {
  position: static;
  width: 388px;
  height: 96px;
  left: 0px;
  top: 52px;
  font-family: Josefin Sans Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #414141;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 12px 0px 0px;
}

h2 {
  position: static;
  width: 388px;
  height: 40px;
  left: 0px;
  top: 0px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #121212;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.program-name-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 358px;
  height: 44px;
  left: 24px;
  top: 164px;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  margin: 7.5px 0px;
}

.program-name-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 144px;
  height: 36px;
  left: 0px;
  top: calc(50% - 36px/2 - 4px);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}

.button-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;
  position: relative;
  left: 24px;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #EC6041;
  box-shadow: 4px 4px 0px #F1876F,
  8px 8px 0px #F5AE9E;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 0px;
}

h3 {
  position: static;
  width: 120px;
  height: 20px;
  left: 0px;
  top: 0px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}

a {
  text-decoration: none;
}

.body-dark {
  background: #121212;
}

.body-dark h1,
.body-dark h2 {
  color: #FFFFFF;
}

.body-dark p {
  color: rgba(255, 255, 255, 0.8);
}

.body-dark .program-name-main {
  background: #121212;
}